<div class="container">
  <h1 class="game-title">Match country with capital</h1>
  <h3 class="game-title">Correct answers: {{ correctAnswers$ | async }}</h3>
  <h3 class="game-title">Wrong answers: {{ wrongAnswers$ | async }}</h3>

  <div class="game-container">
    <button
      *ngFor="let option of options$ | async"
      class="game-option"
      #btn
      (click)="optionSelectedNgRx(option)"
      [disabled]="option.disabled"
      [ngClass]="{
        'game-option-selected': option.selected,
        'game-option-wrong': option.wrong,
        'game-option-hidden': !option.visible,
        'game-option-disabled': option.disabled
      }"
    >
      {{ option.textValue }}
    </button>
  </div>

  <div class="game-control" style="margin-top: 30px">
    <label for="gameSize">Game size: </label>
    <input type="number" (change)="onChange($event)" [(ngModel)]="gameSize" />
  </div>

  <div class="game-control">
    <Button class="game-restart" (click)="restartGame()">Play again</Button>
  </div>
</div>
